@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mona Sans';

  --dark-gray: #767676;
  --open: #6BBD44;
  --closing: #FFA800;
  --closed: red;
  --primary: #ff6f55;
  --background: #FFFFFF;
  --text: #000000;
}

@media (prefers-color-scheme: dark) {
 * {
  --dark-gray: #9D9D9D;
  --open: #D1E94B;
  --closing: #F2A43A;
  --closed: #C1307E;
  --primary: #D1E94B;
  --background: #04121F;
  --text: #EDEDED;
 }
}

body {
  background-color: #494949;
  color: var(--text);
  min-height: 100vh;
}

.items-center {
  align-items: center;
}
.flex-4 {
  display: flex;
  gap: 4px;
}

h1 {
  font-size: 24px;
  line-height: 24px;
}
h2 {
  font-size: 16px;
  line-height: 18px;
}

.dark-gray {
  color: var(--dark-gray);
}
.green {
  color: var(--open);
}
.red {
  color: var(--closed);
}
.orange {
  color: var(--closing);
}

.green path {
  fill: var(--open);
}
.red path{
  fill: var(--closed);
}
.orange path{
  fill: var(--closing);
}
.otro path {
  fill: #68349A;
}