@font-face {
  font-family: 'Mona Sans';
  src:
    url('fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mona Sans';

  --dark-gray: #767676;
  --success: #6BBD44;
  --warning: #FFA800;
  --error: #FF3E1E;
  --white: #FFFFFF;
  --black: #000000;
}

@media (prefers-color-scheme: dark) {
 * {
  --dark-gray: #9D9D9D;
  --success: #70bc4a;
  --warning: #FFB320;
  --error: #FF583C;
  --white: #242424;
  --black: #EDEDED;
 }
}

body {
  background-color: #494949;
  color: var(--black);
  min-height: 100vh;
}

.items-center {
  align-items: center;
}
.flex-4 {
  display: flex;
  gap: 4px;
}

h1 {
  font-size: 24px;
  line-height: 24px;
}
h2 {
  font-size: 16px;
  line-height: 18px;
}

.dark-gray {
  color: var(--dark-gray);
}
.green {
  color: var(--success);
}
.red {
  color: var(--error);
}
.orange {
  color: var(--warning);
}

.green path {
  fill: var(--success);
}
.red path{
  fill: var(--error);
}
.orange path{
  fill: var(--warning);
}